<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distributor-Client CSV Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<body>
    <header>
        <h1>CSV Splitter Tool</h1>
    </header>
    <div class="container">
        <h2>Supporting Documents Generator</h2>
        <form id="upload-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fileattach">Upload an Excel File</label>
                <input type="file" id="fileattach" name="file" accept=".xlsx, .xls" required>
            </div>
            <div class="form-group">
                <label for="fileprefix">Enter the file prefix</label>
                <input type="text" id="fileprefix" name="prefix" placeholder="Example: Cree_REACH240_" required>
            </div>
            <input type="submit" id="upload-button" value="Submit">
        </form>
        <div id="message"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#upload-form').on('submit', function(event) {
                event.preventDefault();
                var formData = new FormData(this);
                $('#upload-button').val('Processing...').prop('disabled', true);
                $('#message').html('');

                $.ajax({
                    type: 'POST',
                    url: '/upload',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        if (response.error) {
                            $('#message').html('<p style="color: red;">' + response.error + '</p>');
                            $('#upload-button').val('Submit').prop('disabled', false);
                        } else {
                            $('#message').html('<p style="color: green;">Success. Files are Ready!</p><a href="/download/' + response.filename + '" class="download-button">Download ZIP</a>');
                            $('#upload-button').val('Submit').prop('disabled', false);
                        }
                    },
                    error: function() {
                        $('#message').html('<p style="color: red;">An error occurred while uploading the file.</p>');
                        $('#upload-button').val('Submit').prop('disabled', false);
                    }
                });
            });
        });
    </script>
</body>
</html>
